@keyframes fadeOut {
  0% {
    transform: scale(1);
  }
  2% {
    transform: scale(0);  
  }
  100% {
    transform: scale(0.5);  
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOut {
  animation: fadeOut var(--animation-length);
  -webkit-animation: fadeOut var(--animation-length);
  opacity: 0;
}

.fadeIn {
  animation: fadeIn var(--animation-length);
  opacity: 1;
}


@keyframes zoomInChild {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomInParent {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(30);
    opacity: 1;
  }
  100% {
    transform: scale(30);
    opacity: 0;
  }
}

.reverse * {
  animation-direction: reverse !important;
}

.zoomInChild {
  animation: zoomInChild var(--animation-length);
}

.zoomInParent {
  animation: zoomInParent var(--animation-length);
}


.animating .djs-overlay-container {
  display: none;
}

.reverse .transformCenter text {
  opacity: 1;
  transition: opacity calc(var(--animation-length) * 0.25);
  transition-delay: calc(var(--animation-length) * 0.75);
}

.transformCenter text {
  opacity: 0;
  transition: opacity calc(var(--animation-length) * 0.25);
}

.presentationToggle {  
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 30 !important;
  color: grey;
}

.presenting .presentationToggle {
  display: block;
  color: #67e967;
} 