@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOut {
  animation: fadeOut var(--animation-length);
  opacity: 0;
}

.fadeIn {
  animation: fadeIn var(--animation-length);
  opacity: 1;
}


@keyframes zoomInChild {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomInParent {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(25);
    opacity: 1;
  }
  100% {
    transform: scale(25);
    opacity: 0;
  }
}

.reverse {
  animation-direction: reverse !important;
}

.zoomInChild {
  animation: zoomInChild var(--animation-length);
}

.zoomInParent {
  animation: zoomInParent var(--animation-length);
}


.animating .djs-overlay-container {
  display: none;
}